/* Additional styling for DeepDark Ruby Edition theme for Waterfox
/* Author: Stefano Rosselli
/* license: © Stefano Rosselli | all rights reserved
/* Created: 24/02/2020
/* Updated: 05/02/2021
*/

@import url("aboutPages/about.css");
@import url("aboutPages/aboutHome.css");
@import url("aboutPages/aboutLogo.css");
@import url("aboutPages/aboutRobots.css");
@import url("aboutPages/aboutWebrtc.css");
@import url("aboutPages/aboutCheckerboard.css");

:root {
  
  /* DeepDark custom CSS - various variables */
  --deepdark-accent-color: rgb(250,70,90);
  --deepdark-brightest-color: rgb(255,255,255);
  --deepdark-darkest-color: rgb(0,0,0);
  --deepdark-dark-ash-color: rgb(30,30,30);
  --deepdark-ash-color: rgb(50,51,53);
  --deepdark-content-color: rgba(249,249,250,.7);
  --deepdark-disabled-content-color: rgba(249,249,250,.35);
  --deepdark-searchbox-bg-color: rgb(70,71,73);
  --deepdark-launcher-color: transparent; /* <-- edited for DeepDark v1.2 */
  --deepdark-border-color: rgba(0,0,0,.5);
  --deepdark-border-radius: 3px;
  --deepdark-search-table-bg-color: rgb(70,71,73);
  --deepdark-separator-color: rgba(249,249,250,.25);
  --deepdark-table-data-bg-color: rgb(44,45,47);
  
  /* DeepDark custom CSS - buttons */
  --deepdark-btn-bg-color: rgba(249,249,250,.15);
  --deepdark-btn-hover-color: rgba(249,249,250,.25);
  --deepdark-btn-light-hover-color: rgba(249,249,250,.15);
  --deepdark-back-btn-bg-color: var(--deepdark-urlbar-bg-color);
 
  /* DeepDark custom CSS - variables - end */

}


/* :::::: VIEW SOURCE :::::: */

@-moz-document  url-prefix("view-source:") {

  :root {
    background-color: var(--deepdark-ash-color) !important;
  }

  #viewsource {
    background-color: var(--deepdark-ash-color) !important;
    min-height: 100%;
    height: -moz-fit-content !important;
    width: -moz-fit-content !important;
  }

  #viewsource span:not(.error),
  #viewsource.highlight {
    color: var(--deepdark-content-color);
  }

  .highlight .doctype,
  .highlight .attribute-value {
    color: var(--deepdark-accent-color) !important;
  }

  .highlight .attribute-name {
    color: var(--deepdark-content-color) !important;
  }

  .highlight .start-tag,
  .highlight .end-tag {
    color: rgb(205,90,255) !important;
  }

  .highlight .comment {
    color: rgb(144,254,34) !important;
  }

  .highlight .entity,
  .highlight .error,
  .highlight .error > :-moz-any(.start-tag, .end-tag, .comment, .cdata, .doctype, .pi, .entity, .attribute-name, .attribute-value) {
    color: rgb(250,100,100) !important;
  }

  .highlight .cdata {
    color: rgb(220,100,150) !important;
  }

}


/* :::::: DEVTOOLS - RESPONSIVE DESIGN MODE :::::: */

#global-toolbar[id] {
  background-color: var(--deepdark-dark-ash-color) !important;
  border: 1px solid var(--deepdark-border-color) !important;
  box-shadow: none !important;
  color: var(--deepdark-content-color) !important;
}

#global-toolbar[id] > .title {
  border-right: 1px solid var(--deepdark-separator-color) !important;
}

.viewport .resizable-viewport[class] {
  box-shadow: 0 10px 20px var(--deepdark-border-color) !important;
  border: 1px solid var(--deepdark-border-color) !important;
  border-radius: var(--deepdark-border-radius) !important;
}

.viewport-toolbar.container[class] {
  background-color: var(--deepdark-dark-ash-color) !important;
  border: 0 !important;
  border-bottom: 1px solid var(--deepdark-border-color) !important;
}

.viewport-toolbar.container[class] select,
#global-toolbar select {
  background-color: transparent !important;
}

.viewport-dimension-editable[class],
.viewport-dimension-input[class] {
  color: var(--deepdark-content-color) !important;
}


/* :::::: 'ABOUT' PAGES - COMMONS :::::: */

@-moz-document  url("about:home"),
				url("about:webrtc"),
				url("about:robots"),
				url("about:checkerboard"){
  
  /* html */
  html {
    color: var(--deepdark-content-color) !important;
	background: var(--deepdark-ash-color) !important;
	font: message-box !important;
  }
  
  /* buttons */
  button {
    min-width: 5em;
    text-shadow: none;
    -moz-appearance: none;
    color: var(--deepdark-content-color);
    background-color: var(--deepdark-btn-bg-color);
    border-radius: var(--deepdark-border-radius);
    border: 0;
    margin: 5px;
    box-shadow: none;
    padding: 6px;
	font-size: inherit !important;
  }

  button:not([disabled="true"]):hover,
  button[open]:not([disabled="true"]) {
    background: var(--deepdark-btn-light-hover-color) !important;
    color: var(--deepdark-brightest-color);
  }

  /* .......... focused state .......... */

  button:-moz-focusring {
    outline: 1px dashed;
    outline-offset: -2px;
  }

  button:not([disabled="true"]):focus{
    outline-offset: -2px;
    outline: 1px dashed var(--deepdark-disabled-content-color);
  }

  /* .......... disabled state .......... */

  button[disabled="true"] {
    color: var(--deepdark-disabled-content-color);
  }

}

/* DeepDark custom CSS - end */